<%- include ('partials/header.ejs')%>
<style>
	<%- include ('partials/cssreset.ejs')%>
	<%- include ('partials/cssquiz.ejs')%>
</style>
<body>
	<section>
		<div class="question-box">
			<div class="question-title">
				<h3>Question 1</h3>
			</div>
			<div class="question-content">
				<button class="correct">R1</button>
				<button>R2</button>
				<button>R3</button>
				<button>R4</button>
			</div>
		</div>
	</section>

	<script>
		
	</script>
</body>
<%- include ('partials/footer.ejs')%>